/*Google Fonts Import*/

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*CSS Variables*/

:root {
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Cal Sans", sans-serif;
    --primary-color: #57b3c8;
    /*blue*/
    --secondary-color: #423317;
    /*brown*/
    --highlight-color: #ff781f;
    /*orange*/
}

/*Global Styles*/

body {
    font-family: var(--primary-font);
}

body h1,
body h2,
body h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

.section {
    /*padding-top: 4%; Prevent Nav bar overlap in each section*/
    padding-top:4%;
}

.sub-heading-color {
    color: var(--highlight-color)
}

.display-6 {
    margin-bottom: 5rem;
}

/* Navbar*/

#navbar {
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
}

#navbar .logo {
    width: 100px;
}

/* Hero Video*/

  .carousel-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#carouselExampleFade {
    height: 400px; 
  }
#carouselExampleFade .carousel-item img,
#carouselExampleFade .carousel-item video {
    height: 100%;
  }

/*Booking and Contact Us Forms*/

.data-input-form {
    margin-bottom: 3rem;
}

/*Custom button styles*/

.btn.custom-button-outline {
    border: 1px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color);
    font-weight: bold;
}

.btn.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: #ffffff;
}

.btn.custom-button-filled {
    border: 1px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: #ffffff;
}

.btn.custom-button-filled:hover {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}

/*Header*/

#page-header>.display-3 {
    font-size: 3.5rem;
    padding-top: 1rem;
}

#header .lead {
    font-family: var(--secondary-font);
    font-size: 2rem;
}

/*Custom circles and text*/

.custom-circles .circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  font-size: 4rem;
  color: white;
  margin: 0 auto 10px;
}

/* Specific color */

.custom-circles .circle-orange {
  background-color: var(--highlight-color);
}

/*Circle text*/

.circle-heading  {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.circle-text  {
    font-family: var(--primary-font);
    margin-top: 1rem;
}
/*Our Events*/

.card-body>.card-title {

    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

#our-events .card {
    margin-bottom: 1.5rem;
}

.card-body>.card-subtitle {
    margin-top: 1rem;
}

.card-body>.event-text {
    margin-top: 1rem;
}

.card-title {
    font-size: 1.2rem;
}

.star {
    color: var(--primary-color);
}

/*Success page*/

#success .btn.custom-button-outline {
    margin-top: 2rem;
}

/*Rider Checklist Section*/

.checklist-icon {
    color: var(--primary-color);
}

#rider-checklist .list-unstyled {
    max-width: 260px;
}

#rider-checklist h5 {
    font-family: var(--secondary-font);
    color: var(--highlight-color);
}

/*Testimonials Section*/

#testimonials {
    margin-bottom: 6rem;
}

#testimonials h5 {
    font-family: var(--secondary-font);
    color: var(--highlight-color);
}

/*Footer Newsletter/Socials*/

#newsletter {
    background-color: var(--primary-color);
}

/*Social links*/

.social-links a {
    color: var(--primary-color);
    font-size: 2.0rem;
    padding: 30px;
}

.social-links a:hover {
    color: var(--highlight-color);
}

/* Gallery Page*/

#photos img {
    width: 100%;
}

/* Media Queries */

/*Extra small devices (<576px)*/
/*Hero image and text padding to avoid nav-bar fouling*/

@media screen and (max-width: 576px)   {
    .section    {
        padding-top: 100px;
    }
}
/*Small devices (=>576px)*/

@media screen and (min-width: 576px)    {
    
    .section    {
        padding-top: 100px;
    }
}

/*Medium devices (tablets, 768px and up)*/

@media screen and (min-width: 768px) {

    /*make all event cards the same height for consistency*/
    #our-events .event-text {
        min-height: 72px;
    }
}

@media screen and (min-width: 992px) {
    #our-events .event-text {
        min-height: 47px;
    }
}

@media screen and (min-width: 1200px) {
    #our-events .event-text {
        min-height: 96px;
    }
}

@media screen and (min-width: 1400px) {
    #our-events .event-text {
        min-height: 96px;
    }
}